.Reason-card {
  width: 100%; /* Full width on small screens */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-right: 20px;
  text-align: center;
}

.Reason-card h1 {
  font-size: 20px;
  margin: 10px 0;
}

.Reason-card p {
  font-size: 16px;
  color: #333;
}
.end-card:hover{
  transform: scale(1.1);
}